<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>SpringMVC-api-example</display-name>
	<disciption>api接口示例项目。尹金亮负责</disciption>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>apiexample.root</param-value>
	</context-param>

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/application-context.xml</param-value>
		</init-param>
		<init-param>
			<param-name>spring.profiles.default</param-name>
			<!--使用不同环境启动项目-->
			<param-value>localhost</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<param-name>allow</param-name>
			<!--指定ip或ip段 可以访问http://127.0.0.1:8080/druid/index.html监控-->
			<param-value>127.0.0.1,172.17.0.0/16</param-value>
		</init-param>
		<init-param>
			<param-name>remoteAddress</param-name>
			<param-value>X-Real-IP</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>sessionStatEnable</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LogAndProjectFilter</filter-name>
		<filter-class>com.jtool.support.log.LogAndProjectFilter</filter-class>
		<init-param>
			<param-name>projectName</param-name>
			<param-value>example</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LogAndProjectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
